.center{

    display: flex;
    justify-content: center;
    text-align: center;
}

.whiteLetters{
    text-align: center;
    color: white;
}

.blackLetters{
    text-align: center;
    color: black;
}